Problem Statement 1: Samantha has created a dataset named 'top50spotify.csv' of her top 50
songs from spotify.

Tasks to be performed:
1. Import the dataset as a DataFrame and drop the first column.
2. Save it as 'top50.csv'.
3. Find the average Energy and Length of first 10 songs.
4. Find the total length of songs, group by genre from top to bottom.
5. Print the artist name with the most number of tracks in one genre. (Hint: Group by artist
name and genre)
6. Print the data of the tracks created by the artist from the previous question.

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv("top50spotify.csv")
df.shape

(50, 14)

In [ ]:
df.drop(['SerialNo.'], axis=1, inplace=True)
df.shape

(50, 13)

In [ ]:
df.to_csv('top50.csv')

In [ ]:
df['Energy'].head(10).mean()

65.1

In [ ]:
df['Length.'].head(10).mean()

195.6

In [ ]:
df.groupby('Genre')['Length.'].sum()

Genre
atl hip hop          200
australian pop       210
big room             164
boy band             181
brostep              396
canadian hip hop     579
canadian pop         382
country rap          272
dance pop           1621
dfw rap              333
edm                  656
electropop           389
escape room          173
latin               1126
panamanian pop       514
pop                 1368
pop house            153
r&b en espanol       162
reggaeton            427
reggaeton flow       611
trap music           131
Name: Length., dtype: int64

In [ ]:
df.groupby('Genre')['Length.'].sum().sort_values(ascending = False)

Genre
dance pop           1621
pop                 1368
latin               1126
edm                  656
reggaeton flow       611
canadian hip hop     579
panamanian pop       514
reggaeton            427
brostep              396
electropop           389
canadian pop         382
dfw rap              333
country rap          272
australian pop       210
atl hip hop          200
boy band             181
escape room          173
big room             164
r&b en espanol       162
pop house            153
trap music           131
Name: Length., dtype: int64

In [ ]:
df.groupby(['Genre','Artist.Name'])['Track.Name'].count().sort_values(ascending = False).head(1)

Genre  Artist.Name
pop    Ed Sheeran     4
Name: Track.Name, dtype: int64

In [ ]:
df[df['Artist.Name']=='Ed Sheeran']

,Track.Name,Artist.Name,Genre,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.,Popularity
3,Beautiful People (feat. Khalid),Ed Sheeran,pop,93,65,64,-8,8,55,198,12,19,86
5,I Don't Care (with Justin Bieber),Ed Sheeran,pop,102,68,80,-5,9,84,220,9,4,84
37,Antisocial (with Travis Scott),Ed Sheeran,pop,152,82,72,-5,36,91,162,13,5,87
49,Cross Me (feat. Chance the Rapper & PnB Rock),Ed Sheeran,pop,95,79,75,-6,7,61,206,21,12,82